:root {
  --accent-color: #2094f3;
  --header-backgraund: #ffffff;
  --titles-color: #000000;
  --header-logo: #2094f3;
  --button-portfolio-backgraund: #2196f3;
  --button-portfolio-text-color: #ffffff;
  --body-main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-hover: #2196f3;
}

*,
::before,
::after {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: var(--body-main-font);
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
}
/* HEARED */
.header {
  color: var(--header-backgraund);
  display: block;
}
.navigation-list {
  display: flex;
  margin-left: 93px;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.navigation-list-item:not(:last-child) {
  margin-right: 30px;
}

.contact-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--header-logo);
}
.contact-list .navigation-list-item {
  margin-right: 30px;
}
.header-flex-conteiner {
  display: flex;
  height: 80px;
}
.header-logo-second {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--titles-color);
}
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
  display: flex;
}
.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142px;
  letter-spacing: 0.02em;
  color: #212121;
}
.icon-header {
  fill: #757575;
  margin-right: 10px;
}
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}
.header-tel-link:hover {
  color: #2196f3;
}
.header-tel-link:hover .icon-header {
  fill: var(--accent-hover);
}

/* .icon-header {
  fill: #757575;
  margin-right: 10px;
} */

/* MAIN */
.hero-banner {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/backround/backgraund.jpg);
  height: 600px;
  background-color: #2f303a;
  background-size: cover;
  max-width: 1600px;
}
.conteiner-hero {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 696px;
  margin-bottom: 30px;
}
.button {
  font-family: var(--body-main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  border-radius: 4px;
  padding: 10px 32px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.padding-top {
  padding-top: 94px;
}
.padding-bottom {
  padding-bottom: 94px;
}
.flex-list {
  display: flex;
}
.feactures-list-style {
  margin-right: 30px;
}
.feactures-list-style::before {
  display: block;
  content: "";
  height: 120px;
  width: 270px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-antena::before {
  background-image: url(../images/svg/antenna1.svg);
}
.icon-clock::before {
  background-image: url(../images/svg/clock\ 1.svg);
}
.icon-diagram::before {
  background-image: url(../images/svg/diagram\ 1.svg);
}
.icon-astronaut::before {
  background-image: url(../images/svg/astronaut\ 1.svg);
}
.what-do-pictures {
  display: flex;
}
.img-styles {
  margin-right: 30px;
}
.img-styles:last-child {
  margin-right: 0px;
}

.clients {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.clients-flex {
  display: flex;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
  /* width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 30px;
  justify-content: center;
  align-items: center; */
}
.clients-item:last-child {
  margin-right: 30px;
}
.clients-item {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  fill: #afb1b8;
}

.clients-item:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

.footer {
  background: #2f303a;
}
.footer-logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  font-family: var(--body-main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-list-style {
  padding-top: 20px;
}
.contact-link-style {
  margin-bottom: 9px;
}
.footer-tel-link {
  font-family: var(--body-main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.join-us {
  display: block;
  list-style: none;
}
.footer-info {
  display: block;
  margin-right: 70px;
}
.footer-join-us {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.641;
  color: #ffffff;
  text-transform: uppercase;
}
.foter-social-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.foter-social-items:last-child {
  margin-right: 10px;
}
.foter-social-items:hover {
  background-color: #2196f3;
}
.footer-social-item {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.button-portfolio {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024,
    0px 2px 1px #00000033;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--button-portfolio-backgraund);
  color: var(--button-portfolio-text-color);
  border: none;
}
.feactures-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}
.feactures-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.what-we-do-our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 94px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-top: 30px;
}
.our-team-style {
  background-color: #f5f4fa;
}
.our-team-img {
  display: flex;
}
.our-team-img-list {
  margin-right: 30px;
  border: var(--header-backgraund);
  background-color: #ffffff;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 32px;
  padding-right: 32px; */
  padding-top: 16px;
}
.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-item:hover {
  background-color: #2196f3;
}
.social-item:hover .social-item-svg {
  fill: #ffffff;
}
.social-item-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

/* .social-item-svg {
  height: 20px;
  width: ;
} */

.profession-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-top: 10px;
}
/* PORTFOLIO */

.button-list-menu {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}
.bottom-styles {
  margin-right: 8px;
}
.bottom-styles:last-child {
  margin-right: 0px;
}
.portfolio-title-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
}
.portfolio-category-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 4px;
  padding-bottom: 20px;
}
.header-border-portfolio {
  border: 1px solid #ececec;
}
.main-menu {
  padding-top: 94px;
  padding-bottom: 94px;
}
.project-net {
  display: flex;
  flex-wrap: wrap;
  padding-top: 34px;
}
.project-img-style {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  margin-right: 30px;
  width: 370px;
  margin-bottom: 30px;
}

.img-hover-portfolio {
  text-decoration: none;
}
.project-img-style:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-img-style:nth-child(3n) {
  margin-right: 0px;
}
.project-img-style:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.new {
  color: #000000;
}
